<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E176AEBB23E38B2A00EF8D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E176AED423E38B2C00EF8D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E176AEDF23E38B2C00EF8D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
